In [7]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Create the books table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')

# Commit the changes and close the connection
connection.commit()
connection.close()

In [8]:
import csv
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Read the CSV file and insert data into the books table
with open('books2.csv', 'r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        cursor.execute('''
        INSERT INTO books (title, author, year) 
        VALUES (?, ?, ?)
        ''', (row['title'], row['author'], int(row['year'])))

# Commit the changes and close the connection
connection.commit()
connection.close()

In [9]:
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Select and print the title column in alphabetical order
cursor.execute('SELECT title FROM books ORDER BY title')
titles = cursor.fetchall()

print("Titles in Alphabetical Order:")
for title in titles:
    print(title[0])

# Close the connection
connection.close()

Titles in Alphabetical Order:
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!

In [ ]:
from sqlalchemy import create_engine, MetaData, Table

# Connect to the SQLite database using sqlalchemy
engine = create_engine('sqlite:///books.db')
connection = engine.connect()

# Reflect the database structure to access the books table
metadata = MetaData()
metadata.reflect(bind=engine)
books_table = metadata.tables['books']

# Select and order the title column
select_query = books_table.select().order_by(books_table.c.title)
result = connection.execute(select_query)

# Print the title column in alphabetical order
print("Titles in Alphabetical Order (using sqlalchemy):")
for row in result:
    print(row['title'])

# Close the connection
connection.close()

ModuleNotFoundError: No module named 'sqlalchemy'